body {
    margin: 1cm 10% 0 10%;
}

body {
    background-image: url(background-blurred-rainbow-hologram-close-260nw-2490429339.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    background-color: pink;
    border-radius: 10px;
}
ol{background-color: pink; border-radius: 10px;}

.content{
    background-color: aqua;
    border-radius: 2rem;
}
.content:hover{
      background-color: rgb(108, 230, 230);
      border: 2px solid black;
}
